{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>outing</title>
    <link rel="stylesheet" href="{% static 'outing/style.css' %}">
</head>
<body>
    <h1>hello,outing</h1>
    <div>
        <form action="api/form/save" method="post">
            {% csrf_token %}
            <div>
                <label>title</label>
                <div>
                    <input id="title" value="" type="text" placeholder="title"/>
                </div>
            </div>
            <div>
                <label>content</label>
                <div>
                    <textarea id="content" placeholder="content"></textarea>
                </div>
            </div>
            <div>
                <label>date</label>
                <div>
                    <input id="date" type="date" value="" placeholder="date">
                </div>
            </div>
            <div>
                <label>&nbsp;</label>
                <div>
                    <input id="submit" type="button" value="提交" placeholder="保存">
                </div>
            </div>
        </form>
    </div>

    <div>
        <ul id="article-ul">
        {% if article_all %}
            {% for article in article_all %}
                <li>{{ article.title }} <a href="#">remove</a></li>
            {% endfor %}
        {% else %}
            <li>No polls are available.</li>
        {% endif %}
        </ul>
    </div>

    <script src="{% static 'outing/util.js' %}"></script>
    <script src="{% static 'outing/js/jquery.js' %}"></script>
    <script src="{% static 'outing/js/axios.js' %}"></script>
    <script type="text/javascript">
        test();
        $('#submit').bind('click',function(){
            var data = {
                'testy':'test001'
                ,'csrfmiddlewaretoken': '{{ csrf_token }}'
                ,'title': $('#title').val()
                ,'content': $('#content').val()
                ,'date': $('#date').val()
            }
            axios.post(
                'http://127.0.0.1:8081/outing/api/form/save'
                ,JSON.stringify(data)
                ,{
                    headers: {'content-type': 'application/json'}
                }
            ).then(resp => {
                console.log(JSON.stringify(resp));
                a_list = resp.data.data
                var li_str = ""
                for (var i=0;i<a_list.length;i++)
                {
                    li_str+="<li>"+a_list[i].title+"<a href='#'>remove</a></li>"
                }
                console.info(li_str)
                $('#article-ul').append(li_str);
            }).catch(err => {
                console.log(JSON.stringify(err))
            })
        });
    </script>
</body>
</html>